@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

body{
    background-color: #FEFEFE;
}
html, body {
    margin: 0;
    padding: 0;

}

header {
    text-align: center;
    background-color: #D25344;
    padding: 20px;
}

header img {
    width: 300px;
    height: 300px;
    border: 20px solid #EAB042 ;
    border-radius: 50%;
}

header h1 {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 10px 0 20px 0;
  color: #FEFEFE;
}

}